


.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.flex-messages{
  background: rgb(209, 112, 112);
  color: rgb(158, 248, 146);
  position: fixed;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 2px;
}
p{
  color: black;
  
}
.message-container{
  margin-top: 50px;
  padding: 50px;
}

.button{
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 7px;
  background: rgb(58, 4, 35);
  font-size: small;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.loader-container{
  margin-top: 150px;
}

.loading{
  font-size: 45px;
}

.messages{
  width: 50%;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 30px;
  background-color: navajowhite;
}